@import url("style.css");


:root {
    /* Couleur principale */    --primary-color: #FF944C;

    --secondary-color: #402715;
    /* Couleur secondaire */
    /* --background-color: #FAF0D5;  */
    --third-color: #FAF0D5;
    --fourth-color: #FFF8F4;

    --border-radius: 10px;
    /* Rayon des bordures */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;


}

#heropage{
    background-image: url("medias/iconcapture.png");
}



#logonav {
    height: 130px;
    width: 130px;
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bolder;
    font-family: Montserrat, serif;
}

li {
    list-style: none;
}


ul {
    display: flex;
    box-shadow: rgba(255, 148, 76, 0.200) 0px 7px 29px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    width: 30%;
}

h1 {
    color: var(--primary-color);
    font-family: "Quicksand", serif;
    font-size: 3em;
    margin: .67em 0;
}

h2 {
    color: var(--primary-color);
    font-family: "Quicksand", serif;
    font-size: 2em;
    font-weight: bold;
}

p {
    color: var(--secondary-color);
    font-family: "Montserrat", serif;
    line-height: 2;
}

.margin_p{
    margin-bottom: 40px;
}

.margin_h2{
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 50px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 115px;
}

#Ellipse4 {
    height: auto;
    width: 403px;
}

#Cmnt_div {
    text-align: center;
    margin-right: 200px;
  margin-left: 200px;


}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.cards {
    height: 350px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6.76px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 25px;
    text-align: center;
}

.cardlogo {
    height: 60px;
    width: 60px;
}



#heropagediv {
    align-items: center;
}



#pourquoi {
    background-color: #FAF0D5;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}

#avis_wrapper {
    width: 100%;
}

.avis_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.card_note {
    background-image: url("medias/background_note.png");
    background-size: cover;
    background-size: cover;
    width: 68%;
    background-repeat: no-repeat;
    aspect-ratio: 1.54;
    position: relative;

    div {
        position: absolute;
        top: 30%;
        left: 15%;

    }
}

.card_avis {
    width: fit-content;
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    height: fit-content;
    margin-top: 6%;
    margin-left: -66px;
    z-index: 1;
    border-radius: 10px;
    gap: 10px;
    box-shadow: rgb(0, 0, 0, 0.25) 2px 4px 4px 0px;
}

.visage_avis{
    height: 100px;
    width: 100px;
}

.P_avis{
    color: var(--primary-color);
    font-family: "Quicksand", serif;


}



.custom-shape-divider-top-1738063738 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1738063738 svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 111px;
}

#shape-fill {
    fill: white;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1738063738 svg {
        width: calc(276% + 1.3px);
        height: 111px;
    }
}







/* Section Partenaires !!! */

.partenaires-section {
    padding: 40px 20px;
    background-color: #ffffff;
}

.partenaires-section h2 {
    font-size: 2em;
    font-weight: bold;
    color: #FF944C;
    text-align: center;
    margin-bottom: 40px;

}

/* Paramètres logos des Partenaires */
.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.logo-card {
    border: 2px solid #FF944C;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Footer !!! */
footer {
    background-color: var(--secondary-color);
    background: #402715;
    background: linear-gradient(0deg, #402715 20%, #8c6040 110%);
    background: -webkit-linear-gradient(0deg, #402715 20%, #8c6040 110%);
    background: -moz-linear-gradient(0deg, #402715 20%, #8c6040 110%);
    text-align: center;
}

.slogan-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.slogan-container h3 {
    margin: 0;
    color: rgba(255, 255, 255, 0.905);
    font-size: 1.5em;
    font-weight: bold;
}

.slogan-container img {
    width: 24px;
    height: auto;
}

.store-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.store-buttons a img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.store-buttons a img:hover {
    transform: scale(1.1);
}

/* Ligne  de séparation */
hr {
    border: none;
    border-top: 1px solid #cda48a;
    margin: 20px 0;
}

/* Premiers Liens*/
.footer-links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
}


.footer-links a:hover {
    color: #FF944C;
}

/* Section CO2 */
#footer-co2 {
    font-size: 0.9em;
    color: #FF944C;
    margin-top: 40px;
}

/* Réseaux Sociaux */
.footer-social {
    margin: 30px 0;
}

.footer-social a img {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-legal {
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.footer-legal a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
}

.footer-legal a:hover {
    color: #FF944C;
}

.footer-droit {
    font-weight: 400;
    font-size: 0.9em;
    ;
    color: #050302;
    margin-top: 20px;
}