@import url("style.css");


.documentation {
    padding: 120px 24px;

    .container {
        text-align: center;
        flex-direction: column;
    }
}



#conclusion {
    padding: 30px;

}



.personadiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.persona {
    width: 500px;
}

#process-appli-container {
    flex-direction: column;
}

h3 {
    margin-bottom: -20px;
}

.image-container {
    width: 100%;
    /* Largeur du conteneur */
    /* height: auto; Hauteur du conteneur */
    overflow-x: scroll;
    /* Cache le contenu qui dépasse */
}

.image-container img {
    width: 2000px;
    /* L'image prend toute la largeur du conteneur */
    height: 500px;
    /* Maintient le ratio de l'image */
}

.shape {
    .container {
        padding: 120px 24px;
    }

    text-align: center;
    background-color: var(--third-color);
}






/* iframe{
    width:800px;
    height:450px;
    border:1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin:0 auto;
} */


/* shape divider TOP*/
.custom-shape-divider-top-1738595646 {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1738595646 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1738595646 .shape-fill {
    fill: #FFFFFF;
}

/* shape divider TOP */
/* shape divider bot cmntF */

.custom-shape-divider-bottom-1738598479 {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1738598479 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1738598479 .shape-fill {
    fill: #FFFFFF;
}

/* shape divider bot cmntF */

.iframe {
    display: block;
    margin: 0 auto;
}

@media (max-width: 480px) {
    /* body {
        border: red solid 1px;
    } */
    
    .persona {
        width: 100%;
    }
}