@import url("style.css");

h1{
    text-align: center;
}

.documentation{
    padding:30px;
}
#conclusion{
    padding:30px;

}

h3{
    padding:10px;
    font-family: Montserrat, serif ;
    font-weight: 500;
   
}
header{

    /* background-repeat: no-repeat;
    background: cover; */
    background-image: url("medias/iconcapture.png");
    padding-top: 68px;
    
}

/* .custom-shape-divider-top-1738063738 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1738063738 svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 111px;
} */
.custom-shape-divider-top-1738167729 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1738167729 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 78px;
}

.custom-shape-divider-top-1738167729 .shape-fill {
    fill: #F4C386;
}
6
.shape{
    padding:30px;
    background-color: var(--third-color);
}



p{
    padding-left: 219px;
  padding-right: 198px;
}

h2{
    padding-left: 219px;
  padding-right: 198px;
}

h3{
    padding-left: 219px;
  padding-right: 198px;
}